<section id="welcome-index-our-story-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Our Story</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <p>Amanda George and Brett Larson </p>

      </div>
    </div>
  </div>
</section>
