<section id="welcome-index-our-story-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Our Story</h1>
  </div>
</section>
<section id="welcome-index-our-story">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <p>We first met in January 2017 when invited by mutual friends to a local concert. Shortly after we began dating, visiting local restaurants, museums and spending time with friends. Over the past few years we have enjoyed going to Packer games, hiking local trails, exploring the restaurants of the Twin Cities, and spending time at Brett's softball games. We can't wait for this exciting new chapter to begin!
          </p>
        <div class="photo-gallery">
        </div>
      </div>
    </div>
  </div>
</section>
