<section id="welcome-index-photos-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Photos</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <p>Look at us!</p>
        <div class="photo-gallery">
          <div class="photo">
            <Image source={require('./IMG_4009.png')} />
          </div>
          <div class="photo">
          </div>
          <div class="photo">
          </div>
          <div class="photo">
          </div>
          <div class="photo">
          </div>
          <div class="photo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
