<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>When &amp; Where</h1>
        <p>We are engaged! We will be having an intimte family wedding Spring 2021. In light of current conditions and out of an abundance of caution for our loved ones, we will wait to choose a reception date. We look forward to celebrating with all our family and friends when doing so will only spread love.
      </div>
    </div>
  </div>
</section>
