/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Arvo:400');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$font-family-sans-serif: 'Raleway', sans-serif;;
$font-family-serif: Arvo, Georgia, "Times New Roman", Times, serif;
$font-family-script: "Rouge Script", cursive;

$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-script;

$body-color: rgba(28, 13, 10, 0.7);
$headings-color: rgba(85, 23, 30, 1);

$theme-colors: (
  "primary": #5b1e2a,
  "coral": #e9b29d,
  "cream": #f5f0e5,
  "dark-green": #40564d,
);

$enable-rounded: false;

@import "bootstrap";
@import "guests";
@import "welcome";

body {
  background-color: theme-color("cream");
}

h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.0833333em;
  color: theme-color(cream);
  padding: 1 * $spacer 0;
}

h2 {
  color: theme-color("primary");
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.0833333em;
  padding-bottom: $spacer;
  text-align: center;

  svg {
    fill: currentColor;
    margin: 0 auto;
    height: 100px;
  }
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
}

.wedding-cta-btn {
  letter-spacing: 2px;
  padding: 0.75rem 1.5rem;
}

.wedding-required {
  color: theme-color("primary");
}

.jumbotron-heading {
  padding-top: 80px;
  font-family: 'Rouge Script', cursive;
  font-size: 5em;
}
